<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="sideMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>About Me</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header class="ion-text-center">
      <ion-img src="https://i.imgur.com/Ruy2uk1.jpg"></ion-img>
      <ion-card-title>Andreas Steven</ion-card-title>
      <ion-card-subtitle>00000020150 - BL</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div>Library : Tidak Ada</div>
      <div>Yang Membantu mengerjakan : Tidak ada</div>
      <div>Refensi : <br> - Module Week 01 - 07 <br> - https://ionicframework.com/docs/components/</div>
    </ion-card-content>
  </ion-card>

</ion-content>  